@{
    ViewBag.Title = "Success";
}

<h2>Application Sent!</h2>
<h4>Thank you for applying to George Mason University. </h4>
<div>
    @Html.ActionLink("Click here to return to the GMU homepage.", "Index", "Home")
</div>