@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>George Mason</b></h1>
    <p class="lead">Where Innovation is Tradition</p>
    @*<p> @Html.ActionLink("Apply Now!", "Create", "Students")</p>*@
    <p><a class="btn btn-default" href="/Students/Create">Apply Now! &raquo;</a></p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Newly Admitted Students</h2>
        <p>
            Congratulations on your admission to George Mason University! We are thrilled to welcome you to the Mason Nation.
        </p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/admissions-aid/newly-admitted-students">What's Next? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit Mason</h2>
        <p>The best way for you to see if George Mason University is the right fit for you is to visit in person and experience the Mason Nation.</p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/admissions-aid/visit-mason">Tours and Events &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parents and Families</h2>
        <p>We know parents play a major role in helping select the best school for their son or daughter. </p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/admissions-aid/parents-and-families">Learn more &raquo;</a></p>
    </div>
</div>