body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* navbar */
.navbar-default {
    background-color: #343233;
}

body {
    background: #EFEFE7;
}

.text {
    color: #006A40;
}

.dropdown {
    width: 900px;
    height: 35px;
}


hr {
    background-color: #006A40;
    border-color: #006A40;
    color: #006A40;
    height: 2px;
    border: 0;
}


.jumbotron {
    background-image: url('../Images/banner3.png');
}

.jumbotron h1 {
        color: white;
}

.jumbotron p {
        color: white;
    }

.btn {
    background-color: #FFC21C;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
